<style>
    #home div.tab-circle {
        visibility: visible;
    }
    #home > a {
        color: #528ecc;
    }
</style>

    <div style="text-align: center;" class="col-xss-12 col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img style="display: inline;" class="img-responsive img-circle" src="img/head.jpg">
        <div style="text-align: left; margin: 20px 0px; border-radius: 8px; padding: 10px; background-color: rgb(221, 221, 221);">
            <p>WELCOME</p>
            <p>Abin 專長在系統分析、網站前後端程式設計、異質系統間API開發與介接。熟悉網站開發技術、略熟Android APP開發技術。</p>
            <p style="text-align: right">
                <a href="./#/about">more</a>
            </p>
        </div>
    </div>

    <div class="col-xss-12 col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div style="max-width: 600px;">
            <div class="page-header" style="margin: 0px; padding-bottom: 5px; ">
                <h1 id="timeline" style="margin: 0px">經歷</h1>
            </div>
            <ul class="timeline" style="padding-right: 15px">
                <li ng-repeat="(key, val) in history | orderBy:'-time'" class="timeline-inverted">
                    <div ng-if="val.type == 'date'" class="timeline-badge success" style="position: relative; margin-bottom: 15px;" ng-style="{'background-color':val.icon_background}">
                        <p>{{val.time}}</p>
                    </div>

                    <div ng-if="val.type == 'today'" class="timeline-badge" style="color: black; font-size: 12pt; font-weight: bold; font-family: times new roman; line-height: 54px;">NOW</div>
                    <div ng-if="val.type == 'today'" style="margin-bottom: 60px"></div>

                    <div ng-if="val.type == 'history'" class="timeline-badge info" ng-style="{'background-color':val.icon_background}">
                        <i ng-if="val.icon.split(':')[0] == 'class'" class="{{val.icon.split(':')[1]}}" ></i>
                        <img ng-if="val.icon.split(':')[0] == 'link'" ng-src="{{val.icon.split(':')[1]}}" style="width: 36px;"></img>
                    </div>
                    <div ng-if="val.type == 'history'" class="timeline-panel">
                        <div class="timeline-heading">
                            <p style="float: left; font-weight: bold; font-size: 16pt; margin: 0px 10px 0px 0px; line-height: 30px;">{{val.time}}</p>
                            <p ng-if="val.title != ''" ng-bind-html="val.title" style="float: left; font-size: 13pt; color: gray; line-height: 28px; margin: 0px;"></p>
                            <a ng-if="val.link != ''" href="{{val.link}}" target="_blank" style="float: right;">more</a>
                        </div>
                        <!--div class="timeline-body" style="margin-top: 5px;">
                            <a ng-if="val.link != ''" href="{{val.link}}" target="_blank" style="float: right;">more</a>
                        </div-->
                    </div>
                </li>

                <!--li class="timeline-inverted">
                  <div class="timeline-badge success"><p>2015</p></div>
                </li>
                <br/><br/>
                <li>          
                  <div class="timeline-badge info"><i class="glyphicon glyphicon-check"></i></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">Motherhub and Seller Capacity</h4>              
                    </div>
                    <div class="timeline-body">
                      <p>I was responsible for coming up with a E2E test plan for testing REST based services which had changes due to this feature.</p>
                    </div>
                  </div>
                </li>
                
                <br/><br/>
                <li class="timeline-inverted">
                  <div class="timeline-badge info"><i class="glyphicon glyphicon-check"></i></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                    </div>
                    <div class="timeline-body">
                      <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                      <p>Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis, vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, aliquet quis tempus a, posuere ut mi. Ut scelerisque neque et turpis posuere pulvinar pellentesque nibh ullamcorper. Pharetra in mattis molestie, volutpat elementum justo. Aenean ut ante turpis. Pellentesque laoreet mé vel lectus scelerisque interdum cursus velit auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mauris lectus, non scelerisque augue. Aenean justo massa.</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                    </div>
                    <div class="timeline-body">
                      <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                    </div>
                  </div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                    </div>
                    <div class="timeline-body">
                      <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                    </div>
                    <div class="timeline-body">
                      <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                      <hr>
                      <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                          <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li class="divider"></li>
                          <li><a href="#">Separated link</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                    </div>
                    <div class="timeline-body">
                      <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                    </div>
                  </div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                    </div>
                    <div class="timeline-body">
                      <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                    </div>
                  </div>
                </li-->
            </ul>
        </div>
    </div>

